@charset"UTF-8";

@font-face {
                font-family: IDroid;
                src: url("fontes/idroid.otf");
                font-weight: normal;
                font-style: normal;
            }
       
        body {
            font-family: 'idroid',sans-serif;
            background-image: linear-gradient(to right, #399BAA,#18444b);
        }
        header {
            background-color: #286b75;
            padding: 10px;
            margin: 10px;
            box-shadow: 2px 2px 4px black;
            border-radius: 10px;
        }
        header > h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        header > p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        nav > a {
            background-color: #173d44;
            border-radius: 5px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            margin: 5px;
            padding-inline: inherit;
            color: white;
            padding: 3px;
        }
        nav > a:hover {
            color: #399BAA;
        }
        main {
            background-color: rgb(255, 255, 255);
            padding: 5px;
            margin: auto;
            min-width: 300px;
            max-width: 1000px;
            margin-bottom: 30px;
            box-shadow: 2px 2px 3px black;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
         main img {
            width: 100%;
        }
        main img.pequena {
            width: 50%;
            display: block;
            margin: auto;
        }
        section > h1{
            background-image: linear-gradient(to right,#238da0c9,#3fbccf59);
            margin: 5px;
            padding: 10px;
            color: #20555e;
        }
        section > h2 {
            background-color: #3fbccf59;
            text-align: justify;
            margin: 5px;
            padding: 3px;
            color: #25707e;
        }
        section > p > a {
            text-decoration: none;
            font-weight: bold;
            background-color: #35c0dbde;
            line-height: 2em;
            color: #0b2024;
        }
        section > p {

            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: bold;
            padding: 3px;
            margin: 3px;
            text-indent: 20px;
        }
        section > ul {
            list-style-type: '\2714\00A0\00A0';
            list-style-position: inside;
            columns: 2;
        }
        div.video {
            background-color: #0f2b30;
            position: relative;
            padding-bottom: 56.25%;
            margin: 0px -20px 30px -20px;
        }
        div.video > iframe {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
        #extra {
            background-color: #48cadfa4;
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            box-shadow: 3px 3px 3px #0f2b30;
            font-family: Arial, Helvetica, sans-serif;
        }
        #extra > h2 {
            background-color: #379fafb4;
            color: black;
            margin: 10px;
            padding-left: 10px;
            font-size: 1.7em;
            font-weight: bold;
            border-radius: 10px;
        }
        aside {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            padding: 10px;
            text-indent: 30px;
            text-align: justify;

        }
        footer {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            text-indent: 10px;
            padding: 1px;
            margin: 2px;
            background-color: #20555e;
            color: white;
            border-radius: 10px;
            box-shadow: 3px 3px 4px #47c4dab4;
        
        }

